@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
.container {
  width: 86.88%;
  max-width: 45.2rem;
  border-radius: 2rem;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0 3rem 2.4rem #d6d2f9;
          box-shadow: 0 3rem 2.4rem #d6d2f9;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 325.967px;
  }
}

.container .hero {
  width: 100%;
}

.container .hero .hero__img {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4.1rem;
  padding-bottom: 0;
}

@media screen and (max-width: 375px) {
  .container .info {
    padding: 2.78rem;
    padding-bottom: 0;
  }
}

.container .info .info__title {
  color: #1f2f56;
  font-size: 2.9rem;
  font-weight: 900;
}

@media screen and (max-width: 375px) {
  .container .info .info__title {
    font-size: 2.2rem;
  }
}

.container .info .info__summary {
  font-size: 1.7rem;
  line-height: 2.6rem;
  padding: 1.7rem;
}

@media screen and (max-width: 375px) {
  .container .info .info__summary {
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 2.5rem;
    padding: 1.7rem;
    scale: 1.02;
  }
}

.container .plan {
  width: 80%;
  background-color: #f5f7ff;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 0.4rem;
  padding: 2.2rem;
}

@media screen and (max-width: 375px) {
  .container .plan {
    width: 85.5%;
    margin-top: 0.8rem;
    padding: 1.7rem;
  }
}

.container .plan .plan__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7rem;
  line-height: 2.8rem;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

@media screen and (max-width: 375px) {
  .container .plan .plan__price {
    font-size: 1.4rem;
    line-height: 2.2rem;
    -webkit-transform: translateX(-16%);
            transform: translateX(-16%);
  }
}

.container .plan .plan__price .plan__name {
  color: #1f2f56;
  font-weight: 900;
}

.container .plan .plan__price .plan__rate {
  font-weight: 500;
}

.container .plan .plan__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .plan .plan__change a {
  font-size: 1.45rem;
  color: #3829e0;
  font-weight: 900;
}

.container .plan .plan__change a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #6255e7;
}

@media screen and (max-width: 375px) {
  .container .plan .plan__change a {
    font-size: 1.2rem;
  }
}

.container .payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.8rem;
  margin-top: 3.1rem;
  margin-bottom: 3.3rem;
}

@media screen and (max-width: 375px) {
  .container .payment {
    margin-top: 2.3rem;
    margin-bottom: 2.6rem;
  }
}

.container .payment .payment__proceed,
.container .payment .payment__cancel {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 1.5rem;
}

@media screen and (max-width: 375px) {
  .container .payment .payment__proceed,
  .container .payment .payment__cancel {
    width: 85.5%;
  }
}

.container .payment .payment__proceed {
  background-color: #3829e0;
  color: #f5f7ff;
  font-weight: 700;
  -webkit-box-shadow: 0 2rem 2rem #d1cef8;
          box-shadow: 0 2rem 2rem #d1cef8;
}

.container .payment .payment__proceed:hover {
  background-color: #6255e7;
  cursor: pointer;
}

.container .payment .payment__cancel {
  background-color: transparent;
  color: #7280a7;
  font-weight: 900;
}

.container .payment .payment__cancel:hover {
  color: #1f2f56;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .container .payment .payment__cancel {
    padding: 0.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  color: #7280a7;
  background: url("../images/pattern-background-desktop.svg") no-repeat;
  background-color: #e0e8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 375px) {
  body {
    background: url("../images/pattern-background-mobile.svg") no-repeat;
    background-color: #e0e8ff;
  }
}
/*# sourceMappingURL=styles.css.map */